.Backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.BackdropOpen {
  display: block;
}
.BackdropClosed {
  display: none;
}
.BackdropOpen h1 {
  display: block;
  z-index: 101;
  color: white;
}
